@page "{id:long}"
@model MB.Presentation.AspNetCoreRazorPages.Areas.Administrator.Pages.ArticleManagement.EditModel
@{
    ViewData["Title"] = "Edit Article";
}

<!-- Page Header-->
<header class="bg-white shadow-sm px-4 py-3 z-index-20">
    <div class="container-fluid px-0">
        <h2 class="mb-0 p-1">Articles</h2>
    </div>
</header>
<!-- Breadcrumb-->
<div class="bg-white">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 py-3">
                <li class="breadcrumb-item"><a class="fw-light" asp-area="Administrator" asp-page="/Index">Home</a></li>
                <li class="breadcrumb-item"><a class="fw-light" asp-area="Administrator" asp-page="/ArticleManagement/Index">Articles</a></li>
                <li class="breadcrumb-item active fw-light" aria-current="page">Edit Article</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Basic Form-->

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h3 class="h4 mb-0">Edit Article</h3>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="row">
                    <input type="hidden" asp-for="Article.Id" />
                    <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="form-label" asp-for="Article.Title"></label>
                        <input class="form-control" asp-for="Article.Title" aria-describedby="titleHelp">
                        <div class="form-text" id="titleHelp">Enter the Article title.</div>
                    </div>
                    <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="form-label" name="ArticleCategoryId">Category</label>
                        <select class="form-select mb-3" asp-for="Article.ArticleCategoryId" asp-items="Model.ArticleCategories">
                            <option value="0" selected>--- Select Category ---</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 col-lg-12 col-md-12 col-sm-12">
                    <label class="form-label" name="imagePath">Image Path</label>
                    <input class="form-control" asp-for="Article.ImagePath" aria-describedby="imgagePathHelp">
                    <div class="form-text" id="imgagePathHelp">Enter the Image Path.</div>
                </div>
                <div class="mb-3 col-lg-12 col-md-12 col-sm-12">
                    <label class="form-label" name="shortDescription">Short Description</label>
                    <textarea rows="3" class="form-control" asp-for="Article.ShortDescription" aria-describedby="shortDescriptionHelp"></textarea>
                    <div class="form-text" id="shortDescriptionHelp">Enter a short description of the article.</div>
                </div>
                <div class="mb-3 col-lg-12 col-md-12 col-sm-12">
                    <label class="form-label" name="content">Content</label>
                    <textarea rows="8" class="form-control" asp-for="Article.Content" aria-describedby="contentHelp"></textarea>
                    <div class="form-text" id="contentHelp">Write your content here.</div>
                </div>
                <a class="btn btn-secondary" asp-area="Administrator" asp-page="./Index">Back</a>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>

